In [4]:
import pandas as pd

df_dataset1 = pd.read_csv('dataset1.1.csv',delimiter = ',', header = 'infer')
df_dataset1
df_dataset1.mean()

       time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  var_rss23
0         0      39.25       0.43      22.75       0.43      33.75        1.3
1       250      39.25       0.43      23.00       0.00      33.00        0.0
2       500      39.25       0.43      23.25       0.43      33.00        0.0
3       750      39.50       0.50      23.00       0.71      33.00        0.0
4      1000      39.50       0.50      24.00       0.00      33.00        0.0
..      ...        ...        ...        ...        ...        ...        ...
475  118750      43.33       0.47      25.00       0.00      30.00        0.0
476  119000      43.50       0.50      25.50       0.50      30.00        0.0
477  119250      43.50       0.50      24.75       0.43      30.00        0.0
478  119500      43.50       0.50      24.33       0.47      30.00        0.0
479  119750      43.50       0.50      24.25       0.43      30.00        0.0

[480 rows x 7 columns]

The above code displays the csv data